{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@app": "./",
                    "__tests__": "./__tests__"
                }
            }
        ]
    ]
}
