@import "../../../styles/variables/media-queries";
@import "../../../styles/variables/font-weights";

:global(.dark-theme) {
    .member .info {
        :global(.subtitle-small) {
            color: rgb(var(--primary-white));
        }
    }
}

.content {
    width: 100%;
}

.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 100px 50px;
    margin-top: 125px;

    @media #{$max-width-xl} {
        grid-gap: 50px;
    }

    @media #{$max-width-md} {
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
}

.member {
    display: flex;

    .thumbnail {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -10px;
        margin-left: 0;
    }

    .info {
        margin-left: 25px;

        h3 {
            font-size: clamp(20px, 5vw, 25px);
            font-weight: font-weight(bold);
            margin-bottom: 5px;
        }

        :global(.subtitle-small) {
            color: rgb(var(--primary-dark-gray));
            font-size: 13px;
        }

        a,
        span {
            display: block;
            font-size: 12px;
        }

        a {
            margin-bottom: 5px;
        }
    }
}
