@import "../../../styles/variables/media-queries";
@import "../../../styles/shared/placeholders";

:global(.dark-theme) {
    .element {
        :global(.subtitle) {
            color: rgb(var(--primary-black));
            background-color: rgb(var(--primary-white));
        }

        .icon {
            @extend %colored-icon-dark-mod;
        }
    }
}

.content {
    width: 100%;

    @media #{$min-width-xxl} {
        width: 80%;
        margin: 0 auto;
    }
}

.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-gap: 100px;

    @media #{$max-width-xl} {
        grid-gap: 50px;
    }

    @media #{$max-width-md} {
        grid-template-columns: 1fr;
    }
}

.element {
    text-align: center;

    .icon {
        @extend %colored-icon-light;
    }

    :global(.subtitle) {
        color: rgb(var(--primary-white));
        background-color: rgb(var(--primary-black));
        padding: 25px;
        margin: 35px auto;
        text-align: center;

        + div {
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
        }
    }
}
