@import "../../../styles/variables/media-queries";
@import "../../../styles/variables/font-weights";
@import "../../../styles/shared/placeholders";

:global(.dark-theme) {
    .keyFigure {
        :global(.subtitle) {
            color: rgb(var(--primary-white));
        }

        .icon {
            @extend %colored-icon-dark-mod;
        }
    }
}

.content {
    width: 100%;
}

.intro {
    text-align: center;

    :global(.title-medium) {
        margin-bottom: 20px;
    }

    :global(.body-text) {
        max-width: 800px;
        margin: 0 auto 85px;
        font-size: 16px;
    }
}

.keyFigures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 100px 50px;

    @media #{$max-width-xl} {
        grid-gap: 50px;
    }

    @media #{$max-width-sm} {
        grid-template-columns: 1fr;
    }
}

.keyFigure {
    text-align: center;

    .icon {
        @extend %colored-icon-light;
    }

    :global(.title) {
        font-weight: font-weight(semi-bold);
        margin: 0;
    }

    :global(.subtitle) {
        color: rgb(var(--primary-black));
        margin-bottom: 25px;

        + div {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    :global(.body-text) {
        font-size: 16px;
    }
}
