*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

body {
    --horizontal-padding: 5%;

    font-family: var(--primary-font);
    background-color: rgb(var(--primary-white));
    color: rgb(var(--primary-black));
    transition: background-color ease 250ms;
    overflow: hidden;

    &.dark-theme {
        background-color: rgb(var(--primary-black));
        color: rgb(var(--primary-white));
    }
}

main {
    ol,
    ul {
        list-style: none;
        line-height: 2;
        padding-left: 10px;

        li {
            &::before {
                margin-right: 15px;
                color: rgb(var(--primary-orange));
            }
        }
    }

    ol {
        counter-reset: li;

        li {
            counter-increment: li;

            &::before {
                content: counter(li) ".";
            }
        }
    }

    ul {
        li {
            display: flex;
            align-items: flex-start;

            &::before {
                content: "▶";
                margin-top: 8px;
                font-size: 10px;
            }
        }
    }

    a {
        color: rgb(var(--primary-orange));
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
